.btn-primary:hover{
    background-color: #0d6efd;
    transition: all 0.5s;
    animation: pulse 1.3s infinite;
}

.btn-primary:active{
    background-color: #0a3a81 !important;
}

.card{
    height: 30rem;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1.05);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}